<form action="/checkout" method="POST" >
    <label for="item_name">Enter an item to purchase</label>
    <input type="text" id="item_name" name="item"/>
    <input type="submit" value="submit"/>
</form>
